@import url('https://fonts.googleapis.com/css2?family=Festive&family=Fira+Sans:ital,wght@0,300;0,700;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 30px;
  font-family: 'Fira Sans', sans-serif ;
}
a{
  text-decoration: none;
}
.container{
  min-height: 40vh;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: content center;
}
  
  /* hero section */
#hero{
  background-image: url(./IMG/Ebony.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 70px;
   justify-content: flex-start;
}
#hero h1{
   display: block;
   width: fit-content;
   font-size: 4rem;
   position: relative;
   color: black
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: rgb(207, 0, 15);
    background-color: transparent;
    border:2px solid #f64747;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#hero .cta:hover{
    color: white;
    background-color: crimson;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fabe58;
  }
  
li {
    float: right;
    border-right:1px solid #bbb;
}
  
li:last-child {
    border-right: none;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}
  
li a:hover:not(.active) {
    background-color: #f15a22;
}
  
.active {
    background-color: #04AA6D;
}
  
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #f15a22;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #f1828d;
}  

p {
    text-indent: 50px;
    text-align: left;
    letter-spacing: 3px;
}
  
a {
    text-decoration: none;
    color: #008CBA;
}

/* home section */
#home{
}
#home .home{
    flex-direction: column;
    text-align: center;
    max-width:1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#home .section-title{
    font-size: 3rem;
    font-weight: 300;
    color: rgb(240, 52, 52);
    margin-bottom:10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

#home .home-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#home .home-item::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(241, 169, 160);
    opacity: .2;  
}
/* end of home section */
/* start about me section */
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width:1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about col-left{
    font-size: 1.5rem;
    font-weight: 500;
    
}
#about col-right{
    width: 100%;
}
#about col-right h2{
    font-size: 3rem;;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom:10px;
}
#about col-right p{
    margin-bottom:20px;
}
#about .col-left .about-img {
    position: relative;
    height:100%;
    width:100%;
}
#about .col-left .about-img::after{
    content:'';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
}
#about .section-title{
    font-size: 3rem;
    font-weight: 300;
    color: rgb(240, 52, 52);
    margin-bottom:10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}



/* end about me section */