@import url('https://fonts.googleapis.com/css2?family=Festive&family=Fira+Sans:ital,wght@0,300;0,700;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 30px;
  font-family: 'Fira Sans', sans-serif ;
}
a{
  text-decoration: none;
}
.container{
  min-height: 40vh;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: content center;
}
  
  /* hero section */
#hero{
  background-image: url(./IMG/Ebony.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 70px;
   justify-content: flex-start;
}
#hero h1{
   display: block;
   width: fit-content;
   font-size: 4rem;
   position: relative;
   color: black
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fabe58;
  }
  
li {
    float: right;
    border-right:1px solid #bbb;
}
  
li:last-child {
    border-right: none;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}
  
li a:hover:not(.active) {
    background-color: #f15a22;
}
  
.active {
    background-color: #04AA6D;
}
  
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #f15a22;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #f1828d;
}  

p {
    text-indent: 50px;
    text-align: left;
    letter-spacing: 3px;
}
  
a {
    text-decoration: none;
    color: #008CBA;
}

/* home section */
.all-home{
    background-color: lightseagreen;
    flex-direction: column-reverse;
    text-align: center;
    max-width:1200px;
    margin: 0 auto;
    padding: 90px 20px;
}
.all-home > h1, .about {
    margin: 10px;
    padding: 5px;
}
.just-home {
background: white;
}

.just-home > h2, p {
margin: 4px;
font-size: 90%;
}

/* end of home section */
/* start about me section */
.all-about{
    background-color: lightsalmon;
    flex-direction: column-reverse;
    text-align: center;
    max-width:1200px;
    margin: 0 auto;
    padding: 90px 20px;
}
.all-about > h1, .about {
    margin: 10px;
    padding: 5px;
}
.about {
background: white;
}

.about > h2, p {
margin: 4px;
font-size: 90%;
}


footer{
    text-align: center;
    padding: 3px;
    background-color: lightgreen;
    color: white;
}

table, th, td {
    border:1px solid darkgoldenrod;
    text-align: center;
    width: auto;
    align-items: center;
}

